In [245]:
import numpy as np
import pandas as pd

In [246]:

train=pd.read_csv('train.csv')

In [247]:
train.head(
)

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [248]:
train.isnull().sum()

ID                      0
TITLE                   0
ABSTRACT                0
Computer Science        0
Physics                 0
Mathematics             0
Statistics              0
Quantitative Biology    0
Quantitative Finance    0
dtype: int64

In [249]:
test=pd.read_csv('test.csv')

In [250]:

test.head()

      ID  ...                                           ABSTRACT
0  20973  ...    We present novel understandings of the Gamma...
1  20974  ...    Meteorites contain minerals from Solar Syste...
2  20975  ...    Frame aggregation is a mechanism by which mu...
3  20976  ...    Milky Way open clusters are very diverse in ...
4  20977  ...    Proving that a cryptographic protocol is cor...

[5 rows x 3 columns]

In [251]:
test.isnull().sum()

ID          0
TITLE       0
ABSTRACT    0
dtype: int64

In [252]:
train['TITLE']=train['TITLE'].astype(str)
train['ABSTRACT']=train['ABSTRACT'].astype(str)
test['TITLE']=test['TITLE'].astype(str)
test['ABSTRACT']=test['ABSTRACT'].astype(str)

In [253]:
train.head()

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [254]:
import re
def tweet_cleaner(text):
    mention=re.compile(r'@[A-Za-z0-9]+')
    return mention.sub(r'',text)


train["TITLE"] = train['TITLE'].apply(lambda x :tweet_cleaner(x))
train["ABSTRACT"] = train['ABSTRACT'].apply(lambda x :tweet_cleaner(x))
train['TITLE']=train['TITLE'].apply(lambda x :tweet_cleaner(x))
train['ABSTRACT']=train['ABSTRACT'].apply(lambda x :tweet_cleaner(x))

In [255]:
train['TITLE']=train['TITLE'].str.lower()
train["ABSTRACT"] = train['ABSTRACT'].str.lower()
test['TITLE']=test['TITLE'].str.lower()
test['ABSTRACT']=test['ABSTRACT'].str.lower()

In [256]:
train.head()

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [257]:
import string
def clean(text):
    result = re.sub(r'\d+', '', text)
    result=result.strip()
    result=result.translate(str.maketrans('', '', string.punctuation))
    return result
train["TITLE"] = train['TITLE'].apply(lambda x :clean(x))
train["ABSTRACT"] = train['ABSTRACT'].apply(lambda x :clean(x))
test["TITLE"] = test['TITLE'].apply(lambda x :clean(x))
test["ABSTRACT"] = test['ABSTRACT'].apply(lambda x :clean(x))

In [258]:
train.head()

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [259]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [260]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [261]:
stop_words = set(stopwords.words('english'))
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()
def token(text):
    tokens = word_tokenize(text)
    result = [i for i in tokens if not i in stop_words]
    final=''
    for word in result:
        final=final +' ' +(lemmatizer.lemmatize(word))
    return final
train["TITLE"] = train['TITLE'].apply(lambda x :token(x))
train["ABSTRACT"] = train['ABSTRACT'].apply(lambda x :token(x))
test["TITLE"] = test['TITLE'].apply(lambda x :token(x))
test["ABSTRACT"] = test['ABSTRACT'].apply(lambda x :token(x))

In [262]:
train.head()

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [263]:
train.columns

Index(['ID', 'TITLE', 'ABSTRACT', 'Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'],
      dtype='object')

In [264]:
test.head()
test1=test.drop(['ID'],axis=1)
test1=test1['ABSTRACT']+' '+test1['TITLE']

In [265]:
X=train.drop(['ID','Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'],axis=1)
y=train['Computer Science']

In [266]:
X.head()

                                               TITLE                                           ABSTRACT
0          reconstructing subjectspecific effect map   predictive model allow subjectspecific infere...
1                 rotation invariance neural network   rotation invariance translation invariance gr...
2   spherical polyharmonics poisson kernel polyha...   introduce develop notion spherical polyharmon...
3   finite element approximation stochastic maxwe...   stochastic landaulifshitzgilbert llg equation...
4   comparative study discrete wavelet transforms...   fouriertransform infrared ftir spectrum sampl...

In [269]:

from sklearn import tree
from sklearn.ensemble import BaggingClassifier,GradientBoostingClassifier,RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline
from sklearn.linear_model import RidgeClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.naive_bayes import MultinomialNB



from sklearn import metrics
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

text_clf = Pipeline([('vect', TfidfVectorizer()),
                    ('clf', MultinomialNB(alpha=0.01)), #'clf', RandomForestClassifier(n_estimators=350,verbose=2)
                     ])

In [270]:
X=X['ABSTRACT']+ ' ' +X['TITLE']

In [271]:
X.head()

0     predictive model allow subjectspecific infere...
1     rotation invariance translation invariance gr...
2     introduce develop notion spherical polyharmon...
3     stochastic landaulifshitzgilbert llg equation...
4     fouriertransform infrared ftir spectrum sampl...
dtype: object

In [272]:
y

0        1
1        1
2        0
3        0
4        1
        ..
20967    1
20968    0
20969    1
20970    0
20971    0
Name: Computer Science, Length: 20972, dtype: int64

In [273]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('vect',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 MultinomialNB(alpha=0.01, class_prior=None, fit_prior=True))],
         verbose=False)

In [274]:
predicted = text_clf.predict(X_test)

In [275]:
from sklearn import metrics
print(metrics.classification_report(y_test, predicted))

              precision    recall  f1-score   support

           0       0.92      0.83      0.87      2476
           1       0.79      0.89      0.84      1719

    accuracy                           0.86      4195
   macro avg       0.85      0.86      0.86      4195
weighted avg       0.87      0.86      0.86      4195

In [276]:
accuracy = accuracy_score(y_test, predicted)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 85.91%

In [277]:
text_clf.fit(X,y)
test_predit=text_clf.predict(test1)

In [278]:
final=pd.DataFrame()
final['ID']=test['ID']
final['Computer Science']=test_predit

In [279]:
X=train.drop(['ID','Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'],axis=1)
y=train['Physics']
#text_clf = Pipeline([('vect', CountVectorizer(ngram_range=(2, 2))),
#                    ('tfidf', TfidfTransformer()),
#                    ('clf', VotingClassifier()), ##'clf', RandomForestClassifier(n_estimators=350,verbose=2)
#                    ])

text_clf = Pipeline([('vect', TfidfVectorizer()),
                    ( 'clf', MultinomialNB(alpha=0.01)), #'clf', RandomForestClassifier(n_estimators=350,verbose=2)
                     ])

X=X['ABSTRACT']+ ' ' +X['TITLE']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)


text_clf.fit(X_train,y_train)
predicted = text_clf.predict(X_test)
accuracy = accuracy_score(y_test, predicted)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 92.99%

In [280]:
text_clf.fit(X,y)
test_predit=text_clf.predict(test1)

In [281]:
final['Physics']=test_predit

In [282]:
final.head()

      ID  Computer Science  Physics
0  20973                 1        0
1  20974                 0        1
2  20975                 1        0
3  20976                 0        1
4  20977                 1        0

In [284]:
X=train.drop(['ID','Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'],axis=1)
y=train['Mathematics']
#text_clf = Pipeline([('vect', CountVectorizer()),
#                     ('tfidf', TfidfTransformer()),
#                     ('clf', VotingClassifier()), #'clf', RandomForestClassifier(n_estimators=250,verbose=2)
#                     ])


    
text_clf = Pipeline([('vect', TfidfVectorizer()),
                    ('clf', MultinomialNB(alpha=0.01)), #'clf', RandomForestClassifier(n_estimators=350,verbose=2)
                     ])
                    
X=X['ABSTRACT']+ ' ' +X['TITLE']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)
text_clf.fit(X_train,y_train)
predicted = text_clf.predict(X_test)
accuracy = accuracy_score(y_test, predicted)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 90.08%

In [285]:
text_clf.fit(X,y)
test_predit=text_clf.predict(test1)

In [286]:
final['Mathematics']=test_predit

In [287]:
final.head()

      ID  Computer Science  Physics  Mathematics
0  20973                 1        0            0
1  20974                 0        1            0
2  20975                 1        0            0
3  20976                 0        1            0
4  20977                 1        0            0

In [288]:
X=train.drop(['ID','Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'],axis=1)
y=train['Statistics']
#text_clf = Pipeline([('vect', CountVectorizer()),
#                     ('tfidf', TfidfTransformer()),
#                     ('clf', VotingClassifier()),
#                    ])

text_clf = Pipeline([('vect', TfidfVectorizer()),
                    ('clf', MultinomialNB(alpha=0.01)), #'clf', RandomForestClassifier(n_estimators=350,verbose=2)
                     ])

X=X['ABSTRACT']+ ' ' +X['TITLE']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)
text_clf.fit(X_train,y_train)
predicted = text_clf.predict(X_test)
accuracy = accuracy_score(y_test, predicted)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 86.75%

In [289]:
text_clf.fit(X,y)
test_predit=text_clf.predict(test1)

In [290]:
final['Statistics']=test_predit
final.head()

      ID  Computer Science  Physics  Mathematics  Statistics
0  20973                 1        0            0           1
1  20974                 0        1            0           0
2  20975                 1        0            0           0
3  20976                 0        1            0           0
4  20977                 1        0            0           0

In [291]:
X=train.drop(['ID','Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'],axis=1)
y=train['Quantitative Biology']
#text_clf = Pipeline([('vect', CountVectorizer()),
#                     ('tfidf', TfidfTransformer()),
#                     ('clf', VotingClassifier()),
#                     ])


text_clf = Pipeline([('vect', TfidfVectorizer()),
                    ('clf', MultinomialNB(alpha=0.01)), #'clf', RandomForestClassifier(n_estimators=350,verbose=2)
                     ])

X=X['ABSTRACT']+ ' ' +X['TITLE']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)
text_clf.fit(X_train,y_train)
predicted = text_clf.predict(X_test)
accuracy = accuracy_score(y_test, predicted)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 97.50%

In [292]:
text_clf.fit(X,y)
test_predit=text_clf.predict(test1)

In [293]:
final['Quantitative Biology']=test_predit
final.head()

      ID  Computer Science  ...  Statistics  Quantitative Biology
0  20973                 1  ...           1                     0
1  20974                 0  ...           0                     0
2  20975                 1  ...           0                     0
3  20976                 0  ...           0                     0
4  20977                 1  ...           0                     0

[5 rows x 6 columns]

In [294]:
X=train.drop(['ID','Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'],axis=1)
y=train['Quantitative Finance']
#text_clf = Pipeline([('vect', CountVectorizer()),
#                     ('tfidf', TfidfTransformer()),
#                     ('clf', VotingClassifier()),
#                     ])


text_clf = Pipeline([('vect', TfidfVectorizer()),
                    ('clf', MultinomialNB(alpha=0.01)), #'clf', RandomForestClassifier(n_estimators=350,verbose=2)
                     ])

X=X['ABSTRACT']+ ' ' +X['TITLE']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)
text_clf.fit(X_train,y_train)
predicted = text_clf.predict(X_test)
accuracy = accuracy_score(y_test, predicted)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 98.95%

In [295]:
text_clf.fit(X,y)
test_predit=text_clf.predict(test1)

In [296]:
final['Quantitative Finance']=test_predit
final.head()

      ID  Computer Science  ...  Quantitative Biology  Quantitative Finance
0  20973                 1  ...                     0                     0
1  20974                 0  ...                     0                     0
2  20975                 1  ...                     0                     0
3  20976                 0  ...                     0                     0
4  20977                 1  ...                     0                     0

[5 rows x 7 columns]

In [297]:
pred=final.reindex(columns=['ID','Computer Science', 'Physics', 'Mathematics',
       'Statistics', 'Quantitative Biology', 'Quantitative Finance'])

In [298]:
pred.to_csv('check7.csv',index=False)
pred.head()

      ID  Computer Science  ...  Quantitative Biology  Quantitative Finance
0  20973                 1  ...                     0                     0
1  20974                 0  ...                     0                     0
2  20975                 1  ...                     0                     0
3  20976                 0  ...                     0                     0
4  20977                 1  ...                     0                     0

[5 rows x 7 columns]